@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./satoshi/css/satoshi.css');

:root {
  --background: #fffbfb;
  --color-white: #ffffff;
  --color-black: #040404;
  --color-bg-menu: #13110e;
  --color-gray: #888888;
  --color-gray-light: #a3a3a3;
  /* // TODO: delete */
  --color-bg-tile: #1d1c1c;
  --transition: all 300ms ease;
  --border-radius: 30px;

  /* // TODO: delete */
  --header-outer-height: 100vh;
	--header-inner-height: 72px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
}

* {
  scroll-behavior: smooth;
}

html {
  font-family: 'Satoshi-Regular', sans-serif;
  color: var(--color-black);
  background-color: var(--background);
  
  height: -webkit-fill-available;
  overflow-x: hidden;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-gray-light) transparent;/* Firefox */
  &::-webkit-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-gray-light) transparent;/* Firefox */
  }
}

body {
  overflow-x: hidden;
  padding-top: env(safe-area-inset-top);
  min-height: 100vh;
  /* This ensures the content starts below the status bar */
  min-height: -webkit-fill-available;
  /* mobile viewport bug fix */
  font-weight: 400;
}

/* Mobile-first base styles */
main {
  margin-top: 30vh;
}

section {
  margin: 0 20px;
}

/* Mobile typography */
body {
  font-size: 12px;
}

header,
footer {
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 12px;
}

h3 {
  font-size: 16px;
}

/* TODO: delete */
header {
  z-index: 48;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .transition {
    transition: var(--transition);
  }
}

@layer components {

  .text-link {
    @apply cursor-pointer underline-offset-4 hover:underline transition-all;
    /* transition: var(--transition); */
  }

/*   
  .section-title {
    @apply text-[36px] md:text-[48px] leading-tight;
  }

  .btn {
    @apply text-[12px] md:text-sm text-white rounded-full box-border uppercase transition cursor-pointer bg-opacity-20 bg-black backdrop-blur-md py-[14px] md:py-3 px-4 ;
  }

  .btn--shrunk {
    @apply text-[12px] md:text-sm text-white rounded-full box-border uppercase transition duration-300 cursor-pointer;
  }

  .btn:disabled {
    @apply text-gray-300 bg-gray-500 cursor-not-allowed;
  }

  .btn:hover,
  .btn:active {
    @apply bg-opacity-30;
  }

  .email-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-black); 
    transition: var(--transition); 
  }

  .hover-underline-animation::after {
    width: 0;
  }

  .hover-underline-animation:hover::after {
    width: 100%;
  } */

  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-out;
  }
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  main {
    /* 240px + 100px header = 340px */
    margin-top: 340px;
  }

  header,
  footer,
  h3 {
    font-size: 12px;
  }

  h2 {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  body {
    font-size: 12px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1601px) {
  body,
  header,
  h2,
  h3 {
    font-size: 16px;
  }

  footer {
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
  }
}